@mixin opacity($value) {
  opacity: #{"." + $value};
  filter: alpha(opacity=$value);
  -ms-filter: "alpha(opacity=$value)";
  -khtml-opacity: #{"." + $value};
  -moz-opacity: #{"." + $value};
}

body,ul,li{
margin:0;
padding:0;
}

#container{
width:800px;
height:500px;}

  ul {list-style-type:none;
   li {display:inline-block;
     a {padding:2px;}
	 }
  }

 .gallery_item{
   display:none;
   }
 
.thumbnail{
   @include opacity(5);
       &:hover
     	  { @include opacity(8); }  }
	   
.gallery_item{
  &:target 
    {display:inline-block;
	.thumbnail
	   {opacity:1; cursor:auto;}}
  
 }
 
	   
