$font-color:white;
$mainfont:14px normal Arial;
$article-footer_font:Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
$link-color:#d0a3f7;
$border-color:#470a76;
$submenu-color:#d593ff ;


@mixin clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020"; 
        display: block; 
        height: 0; 
        overflow: hidden; 
    }
    &:after {
        clear: both;
    }
}

@mixin gradient ($start,$end,$repeat:none) {
background-image: -webkit-linear-gradient(top, $start 0%, $end 22%);
    background-image: -moz-linear-gradient(top, $start 0%, $end 22%);
    background-image: -ms-linear-gradient(top, $start 0%, $end 22%);
    background-image: -o-linear-gradient(top, $start 0%, $end 22%);
    background-image: linear-gradient(to bottom, $start 0%, $end 22%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$end}',GradientType=0 );
	background-repeat:$repeat;
}


body,header,section,footer,article,label,nav,ul,li,a,span,p,h1,h2{
margin:0;
padding:0;
border:0;
} 
body header div#header-container, body header nav, body header nav ul,body header nav ul li, body header nav ul li ul.sub-nav-list, body section:after, body aside,  body header div#header-container, body header nav, body header nav ul, body header nav ul li ul.sub-nav-list, body section, body aside {
  @include clearfix;
}


body {
 @include gradient(#d292fd,#9215F2);
 color:$font-color;
 font:$mainfont;
}
a{
text-decoration:none;
color:$link-color;
}
ul{ list-style-type:none;}
img{border:none; outline:none;}
#logo-container{float:left; position:relative; padding:10px;}

#reg-form-container{
 float:right;
 padding-right:60px;
 padding-top:25px;
   input[type="text"],input[type="password"]{background:#b35ef3; border:1px solid #603382; border-top:2px solid #603382; border-style:inner; border-radius:8px;margin:3px; width: 110px;}
   button {background-color: #b35ef3;
  border-top: 1px solid #bea3d3;
  border-left: 1px solid #bea3d3;
  border-bottom: 2px solid  #603382;
  border-right:1px solid  #603382;
  color:$font-color;
  font-weight: bold;
  border-style: outset;
  border-radius: 8px;
  cursor:pointer;
  padding:3px 7px;
   margin-left: auto;
  margin-right: auto;
  }
  }
  
 nav {border:1px solid $border-color; border-style:outline; 
       border-bottom:2px solid $border-color; 
	   border-radius:15px; width:68%;
       margin:10px 20px 25px; padding:12px;
	   display:inline-block;
    	
	ul li {float:left;margin:0;
	  a { color:$font-color; padding:0 8px 0 8px;
	     &:hover {text-decoration: underline;
  color: #a8a8a8;}
		 }
		  &:hover > a+ul {
          display:block;}

}
}
 nav ul li ul.sub-nav-list {
  position:absolute;
  display: none;
  background-color:$submenu_color;
  border-radius: 5px;
     li {
       float: none;
        margin: 0 15px;
             padding: 10px 0;
            border-bottom: 1px solid $border-color;

     &:last-of-type {border-bottom: none;}

         > a {
           font-size: 1.2em;
           color: #fff;
}
}
}

  section {
  float:left;
  width:68%;
   article {border:1px solid $border-color;
   border-style:outer;border-radius:8px; 
   border-left:2px solid $border-color;
  margin: 14px;
  padding: 12px;
   h1 {padding-left:12px; font-size:1.2em; margin:10px 0 5px;} 
	 footer { 
	  p {text-align:right;padding-top:2px;padding-bottom:7px;font-size:1.17em;font-weight:normal;
	   time {font-family:$article-footer_font; }
	}
	}
   }
   article:last-child {border-bottom:2px solid $border-color;}
   
  }
  aside{
  float:left;
  width:23%;
  margin:20px;
   > ul > li{border:1px solid $border-color; border-radius:5px; margin:20px;padding:12px;
	      ul {border:none;padding-left:10px;
		    li {background:url('dot.png')no-repeat;background-position: 0 50%;
  padding-left:25px;}
		  }
	}
    h2 {font-size:1.2em; padding:0 0 9px;}
	p a,strong,em{color:#cccccc;}
  }
  footer {
  clear:both;
  text-align:center;
   p { font-size: 1.2em;
            font-weight: bold; padding-top:30px;padding-bottom:25px;}
 }